@use '../abstracts/variables' as var;

body {
  background-color: var.$clr-white;
  overflow-x: hidden;
}

header,
main,
section,
footer {
  max-width: 71.875rem;
  margin-inline: auto;
}

.nav-item {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    height: 0.0625rem;
    width: 100%;
    max-width: 1.25rem;
    transform: translateX(-150%);
    background-color: var.$clr-white;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &:hover::before {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
