@use "../abstracts//breakpoints" as mq;

@font-face {
  font-family: Alata;
  src: url("../../assets/fonts/Alata-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../../assets/fonts/JosefinSans-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Alata, sans-serif;
  font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
