@use "../../styles/abstracts/variables" as var;
@use "../../styles/abstracts/breakpoints" as mq;

.hero {
  display: flex;
  align-items: center;
  background: url("../../assets/images/mobile/image-hero.jpg") no-repeat center
    center / cover;
  height: 100vh;
  max-height: 46.25rem;

  @include mq.media-breakpoint-up("tablet") {
    background: url("../../assets/images/desktop/image-hero.jpg") no-repeat
      center center / cover;
    height: auto;
    max-height: none;
    padding-block: 11.25rem 7.1875rem;
  }

  &Container {
    width: 100%;
  }

  &Title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: var.$fw-light;
    line-height: 0.95;
    padding: 1.6875rem 1.375rem 1.25rem;
    border: 2px solid var.$clr-white;
    max-width: 20.625rem;

    @include mq.media-breakpoint-up("tablet") {
      font-size: 3.5625rem;
      max-width: 32.5rem;
      padding: 2.0625rem 2rem 1.6875rem;
    }
  }
}
