@use "../../styles/abstracts/variables" as var;
@use "../../styles/abstracts/breakpoints" as mq;

.about {
  position: relative;
  padding-block: 5.9375rem 1.5625rem;

  @include mq.media-breakpoint-up("tablet") {
    padding-block: 8rem 3.125rem;
  }

  img {
    margin-inline: auto;

    @include mq.media-breakpoint-up("tablet") {
      max-width: 36.5625rem;
      margin-inline: unset;
    }
  }
}

.description {
  text-align: center;
  padding: 3.125rem 1.5625rem;
  background-color: var.$clr-white;

  @include mq.media-breakpoint-up("tablet") {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 4.8125rem 0.3125rem 3.125rem 4.8125rem;
    max-width: 27.0625rem;
  }

  &Title {
    font-size: 2rem;
    font-weight: var.$fw-light;
    color: var.$clr-black;
    text-transform: uppercase;

    @include mq.media-breakpoint-up("tablet") {
      font-size: 2.4375rem;
    }
  }

  &Text {
    line-height: 1.66;
    margin-top: 1.0625rem;
    color: var.$clr-grey;

    @include mq.media-breakpoint-up("tablet") {
      font-size: 0.6875rem;
      letter-spacing: 0.61px;
      line-height: 1.8;
      margin-top: 1.25rem;
    }
  }
}
