@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/breakpoints' as mq;

.footer {
  position: relative;
  text-align: center;
  padding-block: 3.4375rem;
  background-color: var.$clr-black;

  @include mq.media-breakpoint-up(tablet) {
    padding-block: 35px;
  }

  &Container {
    @include mq.media-breakpoint-up(tablet) {
      display: flex;
      justify-content: space-between;
      gap: 0.625rem;
    }
  }
}

.logo {
  margin-inline: auto;
  max-width: 8.9375rem;

  @include mq.media-breakpoint-up(tablet) {
    margin-inline: unset;
    max-width: 7.25rem;
  }
}

.links {
  margin-top: 2.1875rem;

  @include mq.media-breakpoint-up(tablet) {
    display: flex;
    gap: 1.5625rem;
    margin-top: 1.125rem;
  }

  li + li {
    margin-top: 1.25rem;

    @include mq.media-breakpoint-up(tablet) {
      margin-top: auto;
    }
  }

  a {
    color: var.$clr-white;

    @include mq.media-breakpoint-up(tablet) {
      font-size: 0.6875rem;
      letter-spacing: 0.8px;
    }
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
  margin-top: 3.125rem;

  @include mq.media-breakpoint-up(tablet) {
    margin-top: auto;
    justify-content: end;
    gap: 0.75rem;
  }

  li {
    display: flex;
    align-items: center;
  }

  a > img {
    @include mq.media-breakpoint-up(tablet) {
      width: 1.25rem;
    }
  }
}

.copyright {
  color: var.$clr-grey;
  margin-top: 1.1875rem;

  @include mq.media-breakpoint-up(tablet) {
    font-size: 0.6875rem;
    letter-spacing: 0.8px;
    margin-top: 1.375rem;
  }
}

.attribution {
  position: absolute;
  background-color: var.$clr-black;
  left: 0;
  top: 0;
  transform-origin: top left;
  transform: rotate(-90deg);
  padding: 0.125rem 0.625rem;

  a {
    display: inline-block;
    color: #d446e6;
    box-shadow: 0 0 0 1px var.$clr-black inset;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .linkBox:hover {
    a {
      transform: scale(1.5) rotate(90deg) translateX(50%);
      color: var.$clr-black;
      background-color: var.$clr-white;
      padding-inline: 0.375rem;
    }
  }
}
